html,
body {
  margin: 0 0;
  padding: 0 0;
  background: #191B22;
  color: #fff;
  height: 100%;
  width: 100%;
}

body * {
  margin: 0 0;
  padding: 0 0;
}



/* Bookmarklets View
---------------------------------------------------- */

.container {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  margin: auto;
  background: transparent;
  overflow: auto;
  position: relative;
}

.heading {
  position: fixed;
  background: #393F4F;
  height: 3rem;
  width: calc(100% - 20px);
}

.heading p.nav {
  cursor: pointer;
  padding: 0.75rem 1rem 0 0;
  text-align: right;
}

.main-content {
  margin-top: 3rem;
}

.card-container {
  cursor: pointer;
}

.main-content .card {
  padding: 10px;
  background: #282C37;
  border-bottom: solid thin #393f4f;
}

/* media query small screens: .main-content .card *
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
*/

.main-content .card .title {
  font-size: 1.1rem;
}

.main-content .card .author::before { content: "- "; }

.main-content .card .author {
  text-transform: capitalize;
}

.main-content .card .url {
  color: #0080ff;
}



/* Settings View
---------------------------------------------------- */

.heading p.nav.settings-nav {
  text-align: left;
  padding: 0.75rem 0 0 1rem;
}

button.button {
  background: #0080ff;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  border: 10px none;
  border-radius: 4px;
  margin: 5px 0;
  padding: 0 16px;
  width: 100%;
  height: 36px;
  line-height: 36px;
}

button.button:hover {
}


input.outline {
  text-align: center;
  display: block;
  background: transparent;
  color: #0080ff;
  border: solid thin #0080ff;
  border-radius: 4px;
  cursor: pointer;
  height: 24px;
  padding: 0 12px;
  margin: 5px 0;
}

div.domain-input {
  width: 100%;
  position: relative;
}

div.domain-input:not(:first-of-type) {
  margin-top: 5px;
}

div.domain-input input.outline.remove {
  position: absolute;
  top: 2px;
  right: 0;

  display: inline-block;
  color: #7F3142;
  border: solid thin #7F3142;
  width: 80px;
}

div.domain-input input.domain {
  background: transparent;
  border: none;
  border-bottom: solid 2px #9baec8;
  border-radius: 2px 2px 0 0;
  padding: 7px 4px;
  font-size: 1rem;
  color: #9baec8;
  display: inline-block;
  width: calc(100% - 85px);
  outline: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.domain-input input.domain:focus {
  color: #fff;
  background: #14151b;
  border-bottom-color: #0080ff;
}