html,
body {
  margin: 0 0;
  padding: 0 0;
  background: #191B22;
  color: #fff;
  height: 100%;
  width: 100%;
}

body * {
  margin: 0 0;
  padding: 0 0;
}


kbd {
  padding: 0.15rem 0.4rem;
  font-size: 0.7rem;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #282C37;
  color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  line-height: 1.4;
  white-space: nowrap;
}



/* Bookmarklets View
---------------------------------------------------- */

.container {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  margin: auto;
  background: transparent;
  overflow: auto;
  position: relative;
}

div.heading {
  position: fixed;
  background: #393F4F;
  height: 3rem;
  width: calc(100% - 20px);
  text-align: right;
  z-index: 100;
}

div.heading p.nav {
  cursor: pointer;
  padding: 0.75rem 1rem 0 0;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.heading p:hover {
  text-decoration: underline;
}

div.heading span.icon {
  font-size: 1.2rem;
}

.main-content {
  margin-top: 3rem;
}

.card-container {
  cursor: pointer;
}

.main-content .card {
  padding: 10px;
  background: #282C37;
  border-bottom: solid thin #393f4f;
}

.main-content .card .title {
  font-size: 1.1rem;
}

.main-content .card .author::before { content: "- "; }

.main-content .card .author {
  text-transform: capitalize;
}

.main-content .card .url {
  color: #0080ff;
}



/* Empty State
---------------------------------------------------- */

.hidden {
  display: none;
}

div.empty-state {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  width: 100%;
  color: #4a5266;
}

div.empty-state * {
  text-align: center;
}

div.empty-state--image {
  width: 80px;
  height: auto;
  display: block;
  margin: 0 auto;
}

div.empty-state--image img {
  width: 100%;
  height: auto;
}

p.empty-state--title {
  margin: 1rem 0 0.25rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

p.empty-state--subtitle {
  margin: 0 0;
  padding: 0 5px;
  line-height: 1.5rem;
}


/* Settings View
---------------------------------------------------- */

div.notification {
  width: 100%;
  height: auto;
  padding: 5px 10px;
  color: rgb(34, 198, 91);
  background: transparent;
  border: solid thin rgb(34, 198, 91);
  border-radius: 4px;
  margin: 0 0 1rem 0;
  -webkit-animation: slide-down .2s ease-out;
}

div.notification p {
  margin: 0 0;
  padding: 0 0;
}

@-webkit-keyframes slide-down {
  0% { opacity: 0; -webkit-transform: translateY(-50%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}

div.heading.settings {
  text-align: left;
}

.heading p.nav.settings-nav {
  text-align: left;
  padding: 0.75rem 0 0 1rem;
  display: inline-block;
}

div.settings-container {
  margin-top: 4rem;
}

div.settings-section:not(:last-of-type) {
  margin: 1.5rem 0;
}

div.settings-section a,
div.settings-section a:visited {
  color: #0080ff;
}

p.settings-section--title {
  margin: 0 0 0.6rem 0;
  padding: 0 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
}

button.button {
  background: #0080ff;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  border: 10px none;
  border-radius: 4px;
  margin: 1.5rem 0;
  padding: 0 16px;
  width: 100%;
  height: 36px;
  line-height: 36px;
}

button.button:hover { background: #1a8dff; }
button.button:active { background: #0073e6; }


input.outline {
  text-align: center;
  display: block;
  background: transparent;
  color: #0080ff;
  border: solid thin #0080ff;
  border-radius: 4px;
  cursor: pointer;
  height: 24px;
  padding: 0 12px;
  margin: 5px 0;
}

input.outline:hover {
  color: #fff;
  background: #0080ff;
}

input.outline:active { background: #0073e6; }

div.domain-input {
  width: 100%;
  position: relative;
}

div.domain-input:not(:first-of-type) {
  margin-top: 5px;
}

input.outline.addDomain {
  margin: 0.8rem 0;
}

div.domain-input input.outline.remove {
  position: absolute;
  top: 2px;
  right: 0;
  padding: 0 0;
  display: inline-block;
  color: #7F3142;
  border: solid thin #7F3142;
  width: 80px;
}

div.domain-input input.outline.remove:hover {
  color: #fff;
  background: #7F3142;
}

div.domain-input input.outline.remove:active { background: #6d2a38; }

div.domain-input input.domain {
  background: transparent;
  border: none;
  border-bottom: solid 2px #9baec8;
  border-radius: 2px 2px 0 0;
  padding: 7px 4px;
  font-size: 1rem;
  color: #9baec8;
  display: inline-block;
  width: calc(100% - 85px);
  outline: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.domain-input input.domain:focus {
  color: #fff;
  background: #14151b;
  border-bottom-color: #0080ff;
}



/* Media Queries
---------------------------------------------------- */

@media screen and (min-width: 200px) {
  p.empty-state--subtitle {
    margin: 0 10%;
  }
}

@media screen and (max-width: 200px) {
  .container {
    height: 100%;
    width: 100%;
  }
  
  div.heading {
    width: 100%;
  }

  div.settings-container {
    padding: 0 5px;
  }

  .main-content .card .url {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .heading p.nav.settings-nav {
    padding: 0.75rem 0 0 5px;
  }
}